
body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display:flex;
     flex-direction:column;
     min-height:100vh;
}
.container{
    flex:1;
}
.navbar {
    height: 5rem;
    background-color: #ffffff;
}

.navbar .navbar-brand {
    color: #fe424d;
    font-size: 2rem;
}

.navbar .nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration:none;
    color:#222222;
    margin-left:2px;
}

.f-info-links a:hover{
    text-decoration:underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
  display: flex;
  align-items:center;
justify-content:center;

}

.f-info-socials i{
 font-size:1.5rem;
    margin-right:1rem;
}

.f-info{
    text-align:center;
    height:8rem;
    background-color:#ebebeb;
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
     align-items:space-evenly;
}

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */

.btn-add{
    background-color: #fe424d !important;
    border:none !important;
}

/* Edit Page */

.edit-btn{
background-color: #fe424d !important;
    border:none !important;
}

/* Show page */

.show-image{
    height:30vh;
}

.btns{
    display:flex;
}
.edit-btn{
    height:38px;
    margin-top:0.5rem;
}
.show-card{
    padding-left:0;
    padding-right:0;
}


#filters {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 40px;
    overflow-x: auto;
    white-space: nowrap;
}

.filter {
    text-align: center;
    min-width: 65px;
    flex-shrink: 0;
}

.filter i {
    font-size: 18px;
}

.filter p {
    margin: 5px 0 0;
    font-size: 12px;
}

.tax-toggle {
    margin-left: auto;
    flex-shrink: 0;
}


/* Tablet */
@media (max-width: 768px) {
    #filters {
        gap: 18px;
        padding: 12px 20px;
    }

    .filter {
        min-width: 60px;
    }

    .filter i {
        font-size: 16px;
    }

    .filter p {
        font-size: 11px;
    }

    .tax-toggle {
        font-size: 12px;
    }
}


/* Mobile */
@media (max-width: 576px) {
    #filters {
        gap: 15px;
        padding: 10px 15px;
        overflow-x: auto;
    }

    .filter {
        min-width: 55px;
    }

    .filter i {
        font-size: 15px;
    }

    .filter p {
        font-size: 10px;
    }

    .tax-toggle {
        min-width: 150px;
        font-size: 11px;
    }
}